@page
@model PlanesModel
@{
    ViewData["Title"] = "Planes Aumotor";
}
<h1>@ViewData["Title"]</h1>


<br>
<br>
<br>

<div class="card-group">
  <div class="card">
    <img src="wwwroot/assets/images/bs-images/seguro-responsabilidad-civil.jpg" class="card-img-top" alt="Responsabilidad Civil">
    <div class="card-body">
      <h5 class="card-title">Responsabilidad Civil</h5>
      <p class="card-text">Cubre Daños a Terceros</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary">Contratar</button>
    </div>
  </div>
  <div class="card">
    <img src="wwwroot/assets/images/bs-images/SEGURO-CONTRA-TERCEROS-COMPLETO-03.jpg" class="card-img-top" alt="Tercero Completo">
    <div class="card-body">
      <h5 class="card-title">Tercero Completo</h5>
      <p class="card-text">Cubre Daños a Terceros</p>
      <p class="card-text">Cubre Robo e Incendio</p>

    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-primary">Contratar</button>
    </div>
  </div>
  <div class="card">
    <img src="wwwroot/assets/images/bs-images/PUBLICIDAD-FASSEG-AUTO.jpg" class="card-img-top" alt="Todo Riesgo">
    <div class="card-body">
      <h5 class="card-title">Todo Riesgo</h5>
      <p class="card-text">Cubre Daños a Terceros</p>
      <p class="card-text">Cubre Robo e Incendio</p>
      <p class="card-text">Cubre Daños Parciales</p>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-primary">Contratar</button>
    </div>
  </div>
</div>




